body {
    opacity: 1;                 /* opacity & transition are for page fade-in effect */
    transition: 3s opacity;
}

body.fade-out {                 /* also for page fade-in effect */
    opacity: 0;
    transition: none;
}

p {
    color: snow;
    background: black;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    text-shadow: 2px 2px grey;
}