
body {
    background: black;
    color: white;
    text-align: center;
    opacity: 1;                 /* opacity & transition are for page fade-in effect */
    transition: 1s opacity;
}

body.fade-out {                 /* also for page fade-in effect */
    opacity: 0;
    transition: none;
}

img {
    border: 2px solid grey;
}

h1 {
    font-size: 8vw;
    color: #42e3f5;
}

h3 {
    font-size: 2vw;
    color: #42e3f5;
}

footer {
    text-align: center;
}
